@media (max-width: 481px) {
  body{
    background-color: #020202;
    overflow: auto;
    margin: 0 0;
  }

  ul {
    color: gainsboro;
    margin-left: 94px;
    margin-top: -53px;
  }

  .round-cont {
    border-radius: 50%;
  }

  .header {
    width: 100%;
    height: 28%;
    background-color: #260C1A;
    position: fixed;
    margin-top: -28px;
    padding-top: 25px;
    display: flex;
  }

  #namebox-outer-ring {
    position: fixed;
    background-color: #020202;
    /*width: 100px;*/
    /*height: 100px;*/
    border: 6px inset #260C1A;
    margin-left: 10px;
    margin-top: -10px;
    z-index: 5;
  }

  #namebox {
    background-color: #99F7AB;
    width: 96px;
    height: 96px;
    border: 5px dashed #432E36;
    display: inline-block;
    margin: 3px 3px;
  }

  .brand {
    background-color: #260C1A;
    width: 90px;
    height: 90px;
    margin-top: -13px;
    margin-left: 3px;
    font-family: 'Press Start 2P', cursive;
  }

  #brand-text-small {
    color: #5F4842;
    padding-left: 19px;
    margin-top: -15px;
    font-size: 30px;
  }

  #email {
    /*margin:auto;*/
    margin-bottom: 5px;
  }

  .nav-info {
    color: #5F4842;
    float: left;
    font-size:18px;
    border-bottom: 5px dashed #432E36;
    margin-left: -9px;
  }

  /*THINGS HIDDEN AT DESKTOP SIZE*/
  #brand-text-large {
    /*visibility: hidden;*/
    color: gainsboro;
    margin-left: 116px;
  }
}