body{
  background-color: #020202;
  overflow: auto;
  margin: 0 0;
  font-family: 'Press Start 2P', cursive;
}


.wrapper {
  display: flex;
  width: 100%;
  /*CHANGE THIS IF YOU CHANGE fullH IN JAVASCRIPT*/
  height: 400vh;
    -webkit-overflow-scrolling: touch;
}

.scroll-overlay {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
}

.round-cont {
  border-radius: 50%;
}

#namebox-outer-ring {
  position: fixed;
  background-color: #020202;
  width: 200px;
  height: 200px;
  border: 11px inset #260C1A;
  margin: 30px;
}

#namebox {
  background-color: #99F7AB;
  width: 176px;
  height: 176px;
  border: 9px dashed #432E36;
  display: inline-block;
  margin: 3px 3px;
}

.brand {
  background-color: #260C1A;
  width: 170px;
  height: 170px;
  margin-top: -13px;
  margin-left: 3px;
}

#brand-text {
  color: #5F4842;
  padding-top: 74px;
  padding-left: 28px;
}

.nav-info {
  margin-left: -60px;
  margin-top: 45px;
}

.carousel {
  position: fixed;
  width: 1500px;
  height: 1500px;
  margin-left: -560px;
  margin-top: -560px;
  border: 5px dashed white;
  z-index: -1;
}

.car-cont {
  background-image: URL("../assets/inv_frame.png");
  background-size: 550px 230px;
  background-repeat: no-repeat;
  position: inherit;
  height: 230px;
  width: 532px;
  padding: 10px 30px;
}

#info-box {
  margin-top: 705px;
  margin-left: 1030px;
  padding-left: 20px;
}

#port-box {
  margin-top: 1104px;
  margin-left: 486px;
  opacity: 0;
  height: 345px;
  width: 675px;
  background-size: 675px 345px;
  opacity: 0;
}

#social-box {
  margin-top: 1080px;
  margin-left: 105px;
  opacity: 0;
}

.socialimg {
  width: 110px;
  height: 110px;
  margin-top: 25px;
}

#port-cont{
  height: 230px;
  width: 630px;
}

a{
  width: 110px;
  height: 110px;
  text-decoration: none;
}

h1 {
  font-size: 15px;
  margin-bottom: 10px;
}

p{
  font-size: 15px;
  margin-bottom: -10px;
}

h3 {
  margin-top: 15px;
}
